body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.panel_imagenes_principal {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.imagenes_panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.boton_explorar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    z-index: 1;
}

.boton_explorar button {
    padding: 20px 40px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.boton_explorar button i {
    margin-right: 15px;
}

.boton_explorar button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    background-color: #0047b3;  
    color: #ffffff;
}

.descripcion_web {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f5f5f5;
}

.descripcion_web p {
    font-size: 16px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f5f5f5;
}

footer p {
    font-size: 16px;
    text-align: center;
}
