body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

#lienzo-fondo {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.pagina-login {
    position: relative;
    left: 50%;
    transform: translate(-50%, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.cuentas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.h2 {
    font-family: 'Lexend', sans-serif;
    color: #fff;
    grid-area: h2;
}

button {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: auto;
    font-size: 1rem;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #ccc;
    transform: scale(1.1);
}


